
<h1>Roll the dice <%=@name%> </h1>
<p>
  <img src="/images/dice/<%= @die1 %>.svg">
  <img src="/images/dice/<%= @die2 %>.svg">
</p>
<p>
  The total is <%= @total %>
</p>
<p>
  <a href="/dice">Roll Again</a>
</p>

<% #aca dejo solo lo que va a ver el usuario, el resto de las cosas que no quiero que vea el usuario lo hago en el controller %>